extends linked

block content
    body(class="bodyTGM")
        header(class="headercv")
            .headercv-content
                a(href="/logout"): button(class="head-solarsyst-btn") Log Out
            .headercv-content
                h1(class="h1TGM") Our Solar System
            .headercv-content
                a(href="/stars"): button(class="head-solarsyst-btn") Stars page
        div(class="homeTGM")
            .container-banner 
                .section-banner
                    #star-1
                        .curved-corner-star
                            #curved-corner-bottomright
                            #curved-corner-bottomleft
                        .curved-corner-star
                            #curved-corner-topright
                            #curved-corner-topleft
                    #star-2
                        .curved-corner-star
                            #curved-corner-bottomright
                            #curved-corner-bottomleft
                        .curved-corner-star
                            #curved-corner-topright
                            #curved-corner-topleft
                    #star-3
                        .curved-corner-star
                            #curved-corner-bottomright
                            #curved-corner-bottomleft
                        .curved-corner-star
                            #curved-corner-topright
                            #curved-corner-topleft
                    #star-4
                        .curved-corner-star
                            #curved-corner-bottomright
                            #curved-corner-bottomleft
                        .curved-corner-star
                            #curved-corner-topright
                            #curved-corner-topleft
                    #star-5
                        .curved-corner-star
                            #curved-corner-bottomright
                            #curved-corner-bottomleft
                        .curved-corner-star
                            #curved-corner-topright
                            #curved-corner-topleft
                    #star-6
                        .curved-corner-star
                            #curved-corner-bottomright
                            #curved-corner-bottomleft
                        .curved-corner-star
                            #curved-corner-topright
                            #curved-corner-topleft
                    #star-7
                        .curved-corner-star
                            #curved-corner-bottomright
                            #curved-corner-bottomleft
                        .curved-corner-star
                            #curved-corner-topright
                            #curved-corner-topleft
                    #star-8
                        .curved-corner-star
                            #curved-corner-bottomright
                            #curved-corner-bottomleft
                        .curved-corner-star
                            #curved-corner-topright
                            #curved-corner-topleft
                    #star-9
                        .curved-corner-star
                            #curved-corner-bottomright
                            #curved-corner-bottomleft
                        .curved-corner-star
                            #curved-corner-topright
                            #curved-corner-topleft
                    #star-10
                        .curved-corner-star
                            #curved-corner-bottomright
                            #curved-corner-bottomleft
                        .curved-corner-star
                            #curved-corner-topright
                            #curved-corner-topleft
                    #star-11
                        .curved-corner-star
                            #curved-corner-bottomright
                            #curved-corner-bottomleft
                        .curved-corner-star
                            #curved-corner-topright
                            #curved-corner-topleft
                    #star-12
                        .curved-corner-star
                            #curved-corner-bottomright
                            #curved-corner-bottomleft
                        .curved-corner-star
                            #curved-corner-topright
                            #curved-corner-topleft


                .text-container
                    .text-content
                        h2(class="h2TGM") The Solar System &#127775
                        p(class="pTGM") The solar system is a planetary system made up of a star, the Sun, and various celestial objects orbiting it, including planets, moons, asteroids, comets and other celestial bodies. It extends over an immense region of space, at distances ranging from a few million to several billion kilometers from the Sun.
    
                    .text-content
                        h2(class="h2TGM") The Sun &#x2600
                        p(class="pTGM") The Sun is a yellow dwarf star at the center of the solar system. It is the main source of energy for all the celestial bodies in the solar system, providing the light and heat necessary for life on Earth. The Sun accounts for over 99% of the solar system's total mass.
    
                    .text-content
                        h2(class="h2TGM") The Planets &#127758
                        p(class="pTGM") There are eight main planets in the solar system, divided into two groups: the terrestrial planets (Mercury, Venus, Earth and Mars) and the giant planets (Jupiter, Saturn, Uranus and Neptune). Each planet has unique characteristics, such as size, atmospheric composition and the presence of moons.
    
                    .text-content
                        h2(class="h2TGM") The Moons &#127769
                        p(class="pTGM") In addition to planets, the solar system is also home to moons, or natural satellites, which orbit the planets. Some moons are small rocks, while others are vast icy worlds. The Earth has one moon, called the Moon, while Jupiter and Saturn have a large number of moons, some of which are remarkable objects in their own right.
    
                    .text-content
                        h2(class="h2TGM") Asteroids and Comets &#127776
                        p(class="pTGM") In addition to planets and their moons, the solar system also includes asteroids and comets. Asteroids are small, rocky bodies that orbit the Sun, mainly in the asteroid belt between Mars and Jupiter. Comets, on the other hand, are celestial bodies composed of ice, dust and rock, which follow eccentric orbits around the Sun.
    
                    .text-content
                        h2(class="h2TGM") Exploration &#128640
                        p(class="pTGM") Exploration of the solar system has been carried out by robotic space missions sent out by various space agencies around the world, such as NASA, ESA (European Space Agency) and others. These missions have gathered valuable data on planets, moons, asteroids and comets, contributing to our understanding of the universe and our place in it.
    
//-  comme une page info ta grande tante
